PORT=9000
AUTH_ISSUER=http://localhost:9000

AUTH_CLIENT_ID=payment-ledger-client
AUTH_CLIENT_SECRET=replace-with-a-long-random-secret
AUTH_REDIRECT_URI=http://127.0.0.1:8080/login/oauth2/code/payment-ledger
AUTH_POST_LOGOUT_REDIRECT_URI=http://127.0.0.1:8080/

AUTH_USER_USERNAME=admin
AUTH_USER_PASSWORD=replace-with-a-strong-password

EUREKA_CLIENT_ENABLED=true
EUREKA_SERVER_URL=http://localhost:8761/eureka/
