# Server config
PORT=???
HOST=???

# Database Config
POSTGRES_USER=???
POSTGRES_PASSWORD=???
POSTGRES_DB=???
POSTGRES_PORT=???

# Eureka
EUREKA_SERVER_URL=???

# Kafka Bootstrap servers
KAFKA_BOOTSTRAP_SERVERS=???